p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

blockquote { color: #1f78b4; 
             border-left: 4px solid #b2df8a !important; 
             font-weight: bold;
             padding-left: 10px; }